body{
    text-align:center;
    background-color:#578f7eb0;
}
#wrap{
    text-align:center;
    background-color:#05000eb0 ;
    font-size:30px;
    
}
h1{color: rgb(235, 239, 241);}
#part1{
    font-size:30px;
    text-align:center;
}
p{
   text-align:center;
   border:#05000eb0 2px solid;
   border-left:#05000eb0 10px solid;
   width: 500px; height: 40px;
   
}
